{{>body}}
<!-- style-sheet -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/about.css">
</head>

<body onload="load1()" id="body">
<div class="ctn-l" id="loading">
  <span class="loader"></span>
</div>


  {{>navbar}}



  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container1" data-aos="fade-up" data-aos-duration="2000">

        <div class="section-title">
          <h1>About</h1>
          <p>My name is Rohit Sharma first of all, I prefer to stay humble and critical of myself. While i am working on
            my
            skills.
            I am student of Himachal Pradesh University Shimla. I have worked on Html, CSS, Bootstrap,Javascript,nodejs
            and as a Creative person
            I have intermediate knowledge about Adobe premier pro and video editing. I still feel that I have a lot to
            learn in order to reach the level of MERN STACK Developer .
            I would characterized myself as someone who never stops learning, someone who always strives to get better
            in what they do.
            <br>On the other hand if i show my interest so yes, I am a Roller Rink Boy.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img class="" width="320" height="440" src="/images/photo.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Full Stack Developer</h3>
            <p class="fst-italic">
              I am still learning beacuse learning never exhausts the mind.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 16 October</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> github.com/Rohit-Sankhyan</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +91 548354548</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Ghumarwin</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Language:</strong> Hindi,English,Pahadi</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Bachelor of Computer Application</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Email ID:</strong> rohitsharma162003@gmail.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
            <p>
              Everyone has to start somewhere though, and I am looking to join a team of experienced Developers
              ,Designers
              and grow under their Guidance. In terms of my life outside the University
              I just enjoy listening music, exploring new ideas and playing some Games.
            </p>
          </div>
        </div>

      </div>
    </section>
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <p>My name is Rajesh kumar first of all, I prefer to stay humble and critical of myself. While i am working on
            my
            skills.
            I am student of Himachal Pradesh University Shimla. I have worked on Html, CSS, Bootstrap,Javascript,nodejs
            and as a Creative person
            I have intermediate knowledge about Adobe premier pro and video editing. I still feel that I have a lot to
            learn in order to reach the level of MERN STACK Developer .
            I would characterized myself as someone who never stops learning, someone who always strives to get better
            in what they do.
            <br>On the other hand if i show my interest so yes, I am a Roller Rink Boy.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img class="" width="100%" height="440" src="/images/rajesh.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Programmer &amp; Designer</h3>
            <p class="fst-italic">
              I am still learning beacuse learning never exhausts the mind.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 24 Jan 2003</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> github.com/Rohit-Sankhyan</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +91 6002548962</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Ghumarwin</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Language:</strong> Hindi,English,Pahadi</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Bachelor of Computer Application</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Email ID:</strong> rajeshkapil00n@gmail.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
            <p>
              Everyone has to start somewhere though, and I am looking to join a team of experienced Developers
              ,Designers
              and grow under their Guidance. In terms of my life outside the University
              I just enjoy listening music, exploring new ideas and playing some Games.
            </p>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->
    <section class="container">
      <div id="skill-section">
        <h1 data-aos-delay="200"  data-aos="fade-up" data-aos-duration="5000">Skills</h1>
        <div class="container1">
          <p>HTML</p>
           <div class="progress1">
          <div class="progress-bar1" data-progress ="98">
            <span>90%</span>
          </div>
        </div>

          <p>CSS</p>
           <div class="progress1">
          <div class="progress-bar1" data-progress ="80">
            <span>80%</span>
          </div>
        </div>

          <p>Javascript</p>
           <div class="progress1">
          <div class="progress-bar1" data-progress ="70">
            <span>70%</span>
          </div>
        </div>

          <p>Bootstrap</p>
           <div class="progress1">
          <div class="progress-bar1" data-progress ="80">
            <span>80%</span>
          </div>
        </div>

        <p>Nodejs</p>
           <div class="progress1">
          <div class="progress-bar1" data-progress ="70">
            <span>70%</span>
          </div>
        </div>

      </div>
    </section>
    <div id="section_counter" class="container-fluid">
      <div class="counter-grid">
        <div class="counter-item">
          <h1 class="counter text-center" data-target="45">0</h1>
          <p>Days Internship</p>
        </div>

         <div class="counter-item">
          <h1 class="counter text-center" data-target="15">0</h1>
          <p>Projects Done</p>
        </div>

        
         <div class="counter-item">
          <h1 class="counter text-center" data-target="24">0</h1>
          <p>Hours of Support</p>
        </div>

         <div class="counter-item">
          <h1 class="counter text-center" data-target="2">0</h1>
          <p>Hard Wokers</p>
        </div>
      </div>
    </div>
  </main>

  {{>footer}}
  <script src="/src/main.js"></script>
</body>

</html>