{{>body}}
<!-- style-sheet -->
</head>
<body>
    <form action="/admin" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
    </form>
</body>