{{>body}}
  <!-- style-sheet -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body onload="load1()" id="body">
<div class="ctn-l" id="loading">
  <span class="loader"></span>
</div>
  {{>navbar}}
    <main  data-aos="fade-in"data-aos-duration="6000">
     <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="2000">
      <h1 style="font-family:verdana;color:white"> Web <span class="auto-type"></span></h1>
      <h2 class="text-light">Be yourself but always your better self</h2>
      <a href="/about" class="btn-about btn btn-primary">About Us</a>
    </div>
  </section>
    </main>
  {{>footer}}
<script src="/src/type.js"></script>
</body>
</html>